#loading-screen {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  animation: fade-loading-screen 5s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

#title {
  position: absolute;
  font-size: 4rem;
  text-align: center;

  animation: fade-intro-text 5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

#title-next {
  position: absolute;
  width: 80%;
  font-size: 2.5em;
  line-height: 1.2em;
  text-justify: inter-word;
  text-align: left;
  cursor: pointer;
  opacity: 0;
}

#title-next-next {
  position: absolute;
  width: 80%;
  font-size: 2.5em;
  line-height: 1.2em;
  text-justify: inter-word;
  text-align: left;
  cursor: pointer;
  opacity: 0;
}

video {
  height: 100vh;
  min-width: 100%;
  object-fit: cover;
}

@keyframes fade-intro-text {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-intro-text-long {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-loading-screen {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
