body {
  display: flex;
  margin: 0;
  overflow: hidden;
  background-color: #000;
  color: #ffffff;
  font-family: Monospace;
  font-size: 13px;
  line-height: 24px;
  overscroll-behavior: none;
}

a,
button,
input,
select {
  pointer-events: auto;
}
